.line_ly {
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.2) inset, 0 0 100px rgba(0, 0, 0, 0.2);
    background-color: rgba(5, 5, 5, 0.6);
    color: #FFF;
    font-family: serif;
}
.line_ly input{
    font-family: serif;
    font-size: 14px;
}
.line_ly input:hover{
    border-color: rgb(50, 137, 166);
}
.line_lx {
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.2) inset, 0 0 100px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: rgba(5, 5, 5, 0.6);
    color: #FFF;
    border-top-color: rgba(5, 5, 5, 0.6);
    position:fixed; 
    top:0px; 
    left:275px; 
    width: 85;
    height: 50px;
    z-index: -1;
}
.line_lx p{
    margin-top:0;
    margin-bottom:8px;
}
.line_lx input{
    margin-left:5px;
}
.line_lx input:hover{
    border-color: rgb(50, 137, 166);
}



.cp_ipselect {
    overflow: hidden;
    width: 130%;
    height:37px;
    margin: 0px;
    text-align: center;
    font-family: serif;
}
.cp_ipselect p{
    margin-top: 3px;
    margin-bottom: -2px;
}
.cp_ipselect select {
    -moz-appearance: none;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    font-size:14px;
    font-weight: bold;
    font-family: serif;
}
.cp_ipselect select:hover {
    background-color: rgb(50, 137, 166);
    /* border-color:goldenrod; */
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect select option{
    font-size: 20px;
}
.cp_ipselect.cp_sl04 {
    position: relative;
    border-color: rgba(5, 5, 5, 0.5);
    background-color: rgba(5, 5, 5, 0.5);
}
.cp_ipselect.cp_sl04::before {
    position: absolute;
    top: 26px;
    right: 66px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 10px solid #fb3543;
    border-right: 5px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
    padding: 0px 0px 0px 30px;
    color: #fff;
}





.jump_co {
    width: 91px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 0px;
    outline: none;
    border: 0px;
    background-color: rgba(5, 5, 5, 0.5);
    color: #fff;
    font-family: serif;
    font-weight: bold;
    font-size: 16px;
}
.jump_co::before,
.jump_co::after {
    position: absolute;
    z-index: 5;
    display: block;
    content: '';
}
.jump_co,
.jump_co::before,
.jump_co::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.jump_co:hover {
    background-color: rgb(50, 137, 166);
    cursor: pointer;
}

