.nav {
    width: 100px;
    right: -300px;
    margin: 0 auto;
    display: flex;
}
.nav li {
    position: relative;
    list-style: none;
}
.nav li a {
    display: block;
    width: 150px;
    height: 38px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 2.8;
    background: rgba(255,0,0,0.3); 
    transition: 0.5s;
    text-decoration: none;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.nav > li:hover > a {
    color: orange;
    background: rgba(173,255,47,0.5);
}
.nav > li li:hover > a {
    color: #00ffff;
    background: rgba(173,255,47,0.5);
}
.nav li ul {
    top: 38px;
    left: -40px;
    position: absolute;
}
.nav li ul li {
    overflow: hidden;
    height: 0;
    transition: 0.2s;
}
.nav li:hover > ul > li {
    overflow: visible;
    height: 38px;
}
.nav li ul li ul {
    top: 0;
    left: 110px;
}
.nav li ul li ul:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
}
.nav li ul li ul li:hover > a {
    color: pink;
    background: rgba(173,255,47,0.5);
}
.nav li ul li ul.left {
    top: 0;
    left: -190px;
}
.nav li ul li ul.left:before,
.nav li ul li ul li ul.left:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 190px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
}
.nav li ul li ul.left li:hover > a {
    color: pink;
    background: rgba(173,255,47,0.5);
}
.nav li ul li ul li ul.left li:hover > a {
    color: purple;
    background: rgba(173,255,47,0.5);
}

#menubutton{
    z-index: 10000;
    background:rgba(135,5,34,0.5);
    color:#FFF;
    text-decoration:none;
    text-align:center;
    display:block;
    width:100px;
    margin:0 auto;
    padding:9px;
    cursor:pointer;
    position: absolute;
    top:0px;
    right: 0px;
    border: 1px solid rgb(244, 133, 133);
    border-top:1px solid rgba(135,5,34,0.7);
}
#menubutton:hover{
    cursor:pointer;
    background-color: goldenrod;
}
#menu{
    position: absolute;
    z-index: 10000;
    height:40px;
    top: 0px;
    right: 770px;
}
